* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 30px 35px;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header h2 {
  font-weight: 750;
}
header p {
  font-size: 14px;
}
.contact-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  row-gap: 5px;
}
.contact-details .basic {
  display: flex;
  justify-content: space-between;
}
.contact-details .links {
  display: flex;
  justify-content: center;
  gap: 100px;
}
.contact-details .links div {
  width: 30%;
  display: flex;
  justify-content: center;
}
.contact-details div {
  display: flex;
  align-items: center;
  column-gap: 5px;
  /* padding: 0 5px; */
  font-size: 14px;
}
.contact-details a {
  text-decoration: none;
}
hr {
  border:none;
  height: 2px;
  width: 100%;
  color: black;
  background-color: black;
}
a{
  color:#333;
}
/* ----------skill-section----------- */
.skills h3 {
  font-weight: 750;
}
.skills ul {
  font-size: 14px;
  padding: 5px 30px;
}
.skills ul li{
  margin-bottom: 3px;
}
.skills ul li span:first-child {
  font-weight: 700;
}
/* ----------Project-section--------- */
.projects {
  margin: 5px 0;
}
.projects section {
  padding: 5px;
}
.projects ul {
  font-weight: 500;
  font-size: 14px;
  padding: 5px 30px;
}
.projects ul li{
  margin-bottom: 5px;
}
.first-project ul span,.second-project ul span {
  font-weight: 600;
}
/* --------education-section--------- */
.education{
  margin: 5px 0;
}
.education ul{
  font-weight: 500;
  font-size: 14px;
  padding: 5px 30px;
}
.education ul li{
  margin-bottom: 8px;
}
.education ul span:first-child{
  font-weight: 700;
}
.education ul span:nth-child(2){
  display: block;
}